body {
    background-image: url(/resources/svg/background.svg);
    background-size: cover;
}

.col-6.col-sm-4 {
    background-image: url("/resources/svg/oldPaper.svg");
    background-size: 100%;
    height: 19em;
}

.col-6.col-sm-4 > p {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    font-family: 'Papyrus';
    font-weight: bold;
    font-size: 19px;
}

.col-md-4.mb-4 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container.custom {
    margin-top: 2em;
    background-color: black;
    color: #1d2124;
}

.card {
    background-color: black;
    color: white;
}

.card-title {
    background-color: black;
    color: white;
    text-align: center;
}

.container.fightRound {
    background-color: black;
    color: white;
}

.fighterPresentation {
    width: 50%;
    margin: 0 auto;
}

.fightStart{
    width: 33%;
    background-color: red;
    color: white;
    display: inline-block;
    margin: 25px 0px;
}

.fightRound {
    width: 25%;
    margin: 0 auto 25px;
}

.fightWinner-Hero {
    width: 50%;
    background-color: #000000;
    color: white;
    display: inline-block;
}

.fightWinner-Beast {
    width: 50%;
    background-color: #000000;
    color: white;
    display: inline-block;
}

.fightWinner {
    width: 50%;
    background-color: #000000;
    color: white;
    display: inline-block;
}

.divTable {
    display: table;
    width: 100%;
    border: 1px solid #000;

}

.divTableBody {
    display: table-row-group;
}


.divTableRow {
    display: table-row;
}

.divTableCell {
    border: 1px solid rgba(122, 122, 122, 0.89);
    display: table-cell;
    padding: 3px 10px;
    background-color: #e2e2e2e2;
}

.divTableCellRound {
    border: 1px solid rgba(122, 122, 122, 0.89);
    display: table-cell;
    padding: 3px 10px;
    background-color: rgba(255, 255, 255, 0.89);
    font-weight: bold;
}

a.custom-bold-red {
    color: red;
    font-weight: bold;
    opacity: 60%;
}

th {
    color: white;
}

td {
    color: white;
}

.hidden {
    display: none;
}

.border-white {
    color: #1d2124;
    font-family: 'Papyrus';
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.card-title.mb-5 {
    text-align: center;
}